PORT=3000
DB_PATH=server/data/crm.db
JWT_SECRET=replace_with_strong_secret
ADMIN_USER=admin
# node -e "console.log(require('bcryptjs').hashSync('Admin@123',10))"
ADMIN_PASSWORD_HASH=$2a$10$3v7E56lgnmA7V5ryMnlX5.t4KAbfyaSEuxsjjXNMTvEihQ/HVbU8.
