NODE_ENV=production
PORT=3000
JWT_SECRET=please_change_me

DB_HOST=postgres
DB_PORT=5432
DB_NAME=dongpeng_crm
DB_USER=postgres
DB_PASSWORD=postgres123

WECOM_CORP_ID=ww64bc003f529a6d5e
WECOM_AGENT_ID=1000004
WECOM_APP_SECRET=US_XUn4S93YMI20RAqesv4ZgjtVMs8SYZlx5gwC1iq0
WECOM_REDIRECT_URI=https://dp1972.cn/auth/wecom/callback
